<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
</head>
<body>
<header>
    <div class="ui container">
        <header th:replace="template :: header"></header>

        <nav th:include="materialNavigation :: materialNavigation"></nav>
    </div>
</header>

<div class="gbtd">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <form method="post" role="form" class="ui form" id="form" th:action="@{/management/editMaterial}" th:object="${form}">
                    <input type="hidden" name="pid" value="0" th:value="${material.id}"/>
                    <h3 class="ui dividing header" th:text="#{materialAdd.invdata}">Nutzerdaten</h3>
                    <div class="field">
                        <label for="name">Name</label>
                        <input id="name" name="name"  type="text" required="required" th:value="${material.name}"/><br/>
                    </div>
                    <div class="field">
                        <label for="description">Beschreibung</label>
                        <input id="description" name="description"  type="text" required="required" th:value="${material.description}"/><br/>
                    </div>
                    <div class="field">
                        <label th:text="${'Type : '}">Type</label>
                        <fieldset style="border:0;">
                            <label for="ersatz">
                                <input type="radio" name="type" id="ersatz" value="ersatz" th:checked="${material.isErsatz()}"> Ersatzteil
                            </label>

                            <label for="versorgung">
                                <input type="radio" name="type" id="versorgung" value="versorgung" th:checked="${!material.isErsatz()}"> Versorgung
                            </label>
                        </fieldset>
                    </div>
                    <div class="field">
                        <label for="quantity">Quantity</label>
                        <input id="quantity" type="number" name="quantity" min="1" max="500" step="1" value="1" th:value="${material.quantity}"/>
                    </div>
                    <div class="field">
                        <label >Resupplystation</label>
                        <fieldset style="border:0;">
                            <table class="ui menu">
                                <tr>
                                    <td th:each="resupply : ${array}" style="padding: 10px 15px 5px 15px;">
                                        <label  th:for="${resupply.id}">
                                            <input type="checkbox" name="loc" th:id="${resupply.id}" th:value="${resupply.id}"  th:checked="${resupply.materialCheck}" th:text="${resupply.id}">
                                        </label>
                                    </td>
                                </tr>
                            </table>


                        </fieldset>
                    </div>
                    <button type="submit" class="ui button" th:text="#{materialAdd.reg}">Registrieren</button>
                </form>
            </div>

        </div>
    </div>
</div>
<footer th:replace="template :: footer"></footer>
</body>
</html>