<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{tourManager.details.tilte}">Tour Details</title>
</head>
<body>
<div class="ui container">

    <header th:replace="template :: header"></header>
    <div class="ui segment">
        <h1 th:text="${tour.name}">Edinburgh Tour</h1>

        <div class="ui items">
            <div class="item">
                <div class="ui big image">
                    <img th:src="@{/resources/img/{name}.jpg(name=${tour.getTour().getImage()})}"
                         src="../static/resources/img/edTo.jpg"/>
                </div>
                <div class="content">
                    <div class="meta">
                        <span class="ui header" th:text="#{tourManager.start.date}">Start Date:</span><br>
                        <span class="ui content" th:text="${tour.getGermanStart()}">date</span>
                        </br>
                        <span class="ui header" th:text="#{tourManager.end.date}">End Date:</span><br>
                        <span class="ui content" th:text="${tour.getGermanEnd()}">date</span>
                        <br>
                        <br>
                        <br>
                        <span class="ui header" th:text="Preis">Preis</span><br>
                        <span class="ui content" th:text="${tour.price}">Preis</span>
                    </div>
                    <!--                <td th:class="${tour.getFree()} == 0 ? disabled">-->
                    <form class="ui reply form" role="form" th:action="@{/booking/{id}(id=${tour.id})}" method="post"
                          >
                        <a th:if="${tour.getFree()} >= 10" class="ui right floated button"
                           th:text="#{tourManager.get.booking}" th:href="@{/booking/{id}(id=${tour.id})}">Zur Buchung
                            <i class="right chevron icon"></i>
                        </a>
                        <a th:if="${tour.getFree()} < 10 and ${tour.getFree()} > 0"
                           class="ui right floated orange button" th:text="#{tourManager.get.booking}"
                           th:href="@{/booking/{id}(id=${tour.id})}">Zur Buchung
                            <i class="right chevron icon"></i>
                        </a>
                        <a th:if="${tour.getFree()} == 0" class="ui right floated red button"
                           th:text="#{tourManager.get.soldout}">Zur Buchung
                            <i class="right chevron icon"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="tag icon left aligned"></i>
            Description
        </h4>
        <span th:text="${tour.descriptionText}">description text</span>
        <br/>
        <br>
    </div>
</div>
<footer th:replace="template :: footer"></footer>
</body>
</html>