<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{tourManager.manage.title}">Tour Manager</title>
</head>
<body>
<div class="ui centered container">
    <header th:replace="template :: header"></header>
    <a href="/management/tourForm">
        <div class="button ui green right aligned">Erstelle neue Tour</div>
    </a>

    <h3 class="ui container" th:text="#{tourManager.choose.tour}">

    </h3>
    <div class="ui table">
        <table class="ui attached table">
            <thead>
            <tr>
                <th></th>
                <th th:text="#{tourManager.tour}">Tour</th>
                <th th:text="#{tourManager.capacity}">Capacity</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tour : ${repository}">
                <td class="left aligned">
                    <img class="ui small image" th:src="@{/resources/img/{name}.jpg(name=${tour.image})}"
                         src="../static/resources/img/foTo.jpg">
                </td>
                <td>
                    <p th:text="${tour.name}">Tour</p>
                </td>
                <td th:text="${tour.capacity}">Capacity</td>
                <td>
                    <a th:href="@{/management/{id}/update(id=${tour.id})}">
                        <div class="ui animated button">
                            <div class="visible content">Bearbeiten</div>
                            <div class="hidden content">
                                <i class="ui cogs icon"></i>
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a th:href="@{/management/{id}/concreteTourForm(id=${tour.id})}">
                        <div class="ui animated button">
                            <div class="visible content" th:text="#{tourManager.create.concreteTour}">Create Concrete Tour</div>
                            <div class="hidden content">
                                <i class="right arrow icon"></i>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<footer th:replace="template :: footer"></footer>
</body>
</html>